# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Virtual Environment (venv, env, .venv)
venv/
.venv/
env/
.env/

# Python cache
*.pyc
*.pyo
*.pyd

# Windows-specific
Thumbs.db
Desktop.ini

# IDE (PyCharm, VSCode)
.idea/
.vscode/

# Environment files (секретные ключи!)
.env
*.env
secrets.json

# OS
.DS_Store

# Virtual environment
venv/
env/